<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="./images/logo-ig-png-32464.png" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <title>Instagram Clone</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: "#da373d",
            },
          },
        },
      };
    </script>
  </head>

  <body>
    <div
      id="loader"
      class="fixed inset-0 flex flex-col justify-center items-center bg-white z-50"
    >
      <div class="loader"></div>
      <h1 class="text-3xl mt-2">Loading...</h1>
    </div>
    <div class="w-full h-screen flex md:flex-row flex-col">
      <div class="md:w-1/6 w-full">
        <%- include('partials/navigation.ejs') %>
      </div>
      <div class="w-full h-full p-8">
        <h1 class="text-3xl md:text-5xl font-bold">
          Edit your profile details
        </h1>
        <div class="mt-0 md:mt-12 ml-4 md:ml-12">
          <form
            class="w-full"
            action="/updateProfileDetails/<%= user._id %>"
            method="post"
          >
            <div class="w-full flex md:flex-row flex-col items-center mt-12">
              <div
                class="w-full md:w-2/5 flex flex-col items-center justify-center"
              >
                <img
                  src="<%= user.profilePic %>"
                  class="w-48 md:w-60 h-48 md:h-60 rounded-full"
                />
                <div>
                  <input
                    placeholder="enter new profile url"
                    class="w-full mt-2 rounded-xl outline-none border p-3 bg-transparent"
                  />
                </div>
              </div>
              <div class="w-full md:w-3/5">
                <h1 class="text-2xl font-bold">Name</h1>
                <input
                  placeholder="<%= user.fullName %>"
                  class="w-3/4 mt-2 rounded-xl outline-none border p-3 bg-transparent"
                />
                <h1 class="text-2xl font-bold mt-4">Bio</h1>
                <input
                  placeholder="<%= user.bio %>"
                  class="w-3/4 mt-2 rounded-xl outline-none border p-3 bg-transparent"
                />
              </div>
            </div>
            <div class="w-full mt-8 flex items-center justify-center">
              <button
                type="submit"
                class="bg-blue-500 px-2 py-1 text-white font-semibold text-xl rounded block text-center sm:inline-block block"
              >
                Update Details
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script>
      // loader
      window.addEventListener("load", function () {
        document.getElementById("loader").style.display = "none";
      });
    </script>
  </body>
</html>
