<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: "#da373d",
              instagramYellow: "rgb(255, 214, 0)",
              instagramOrange: "rgb(255, 122, 0)",
              instagramPurple: "rgb(211, 0, 197)",
            },
          },
        },
      };
    </script>
  </head>

  <style>
    ::-webkit-scrollbar {
      display: none;
    }
    .loader {
      border: 8px solid #f3f3f3;
      border-radius: 50%;
      border-top: 8px solid #3498db;
      width: 60px;
      height: 60px;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
      0% {
        -webkit-transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  </style>
  </style>

  <body>
    <div
      id="loader"
      class="fixed inset-0 flex flex-col justify-center items-center bg-white z-50"
    >
      <div class="loader"></div>
      <h1 class="text-3xl mt-2">Loading...</h1>
    </div>
    <div id="main">
      <div class="w-full h-screen flex md:flex-row flex-col h-screen bg-white">
        <div class="w-full md:w-1/5 md:h-full border-r">
          <%- include('partials/navigation.ejs') %>
        </div>
        <div class="w-full z-[1] relative md:w-4/5 flex overflow-auto">
          <div class="w-full md:w-3/5 h-full">
            <!-- STORIES -->

            <div class="w-full h-max py-4 flex gap-6 items-center">
              <a href="/upload"
                ><div
                  class="w-20 h-20 rounded-full border-4 relative rounded-full bg-gradient-to-tr overflow-hidden flex justify-center items-center"
                >
                  <i
                    class="ri-add-fill"
                    style="
                      font-size: 50px;
                      padding: 0 20px;
                      border-radius: 50%;
                      background-color: blue;
                      color: white;
                    "
                  ></i></div
              ></a>
              <!-- Swiper -->
              <div class="swiper mySwiper w-full h-max">
                <div class="swiper-wrapper w-max h-full flex gap-2">
                  <% allStories.forEach(function(story){ %>
                  <div
                    class="swiper-slide flex rounded-full justify-center items-center text-lg bg-white"
                  >
                    <a href="/fullStory"
                      ><img
                        id="story-img1"
                        src="<%= story.media %>"
                        alt=""
                        class="w-20 h-20 rounded-full shrink-0"
                    /></a>
                  </div>
                  <% }) %>
                </div>
                <div class="swiper-button-next absolute left-0 z-[999]"></div>
                <div
                  class="swiper-button-prev absolute left-[95%] z-[999]"
                ></div>
              </div>
            </div>

            <!-- ALL POSTS CODE FOR FEED -->

            <div
              class="w-full h-max mt-6 flex flex-col items-center justify-center"
            >
              <% allPosts.slice().reverse().forEach(function(post){ %>
              <div class="w-full md:w-3/4 px-4 md:px-0">
                <div class="w-full flex items-center justify-between">
                  <div class="flex gap-2 items-center">
                    <img
                      src="<%= post.user.profilePic %>"
                      class="w-12 h-12 rounded-full"
                    />
                    <a href="/profile/<%= post.user._id %>"
                      ><h1><%= post.user.username %></h1></a
                    >
                  </div>
                </div>
                <div class="mt-3">
                  <img src="<%= post.media %>" class="w-full h-[60vh]" />
                </div>
                <div class="w-full flex items-center justify-between mt-2">
                  <div class="flex items-center gap-2">
                    <i
                      onclick="like(event,'<%= post._id %>')"
                      class="ri-heart-3-fill"
                      style="
                        font-size: 35px;
                        position: relative;
                        z-index: 999;
                        cursor: pointer;
                      "
                    ></i>
                  </div>
                  <a href="/savepost/<%= post._id %>"
                    ><div>
                      <i class="ri-bookmark-line" style="font-size: 35px"></i></div
                  ></a>
                </div>
                <h1 class="ml-2"><%= post.likes.length %> Likes</h1>
                <div>
                  <p>
                    <span class="font-bold"><%= post.user.username %></span> <%=
                    post.caption %>
                  </p>
                </div>
                <div class="comment">
                  <h4 id="add-comment" class="cursor-pointer opacity-50 py-1">
                    View All <%= post.comments.length %> comment
                  </h4>
                  <div class="comments-container">
                    <% post.comments.slice(0, 2).forEach(function(comment){ %>
                    <div
                      class="comments w-full flex justify-between items-center mt-2"
                    >
                      <div class="flex gap-2">
                        <div
                          class="comment-profile flex justify-between items-center"
                        >
                          <img
                            src="<%= comment.user.profilePic %>"
                            alt=""
                            class="w-8 h-8 rounded-full"
                          />
                        </div>
                        <div class="comment-data flex gap-2">
                          <h4 class="font-bold">
                            <%= comment.user.username %>
                          </h4>
                          <h3><%= comment.text %></h3>
                        </div>
                      </div>
                      <div class="comment-review">
                        <i class="ri-heart-3-line" style="font-size: 20px"></i>
                        <a href="/delete/<%= comment._id %>"
                          ><i
                            class="ri-delete-bin-7-fill"
                            style="font-size: 20px"
                          ></i
                        ></a>
                      </div>
                    </div>
                    <% }) %>
                  </div>
                </div>
                <form
                  action="/addComment/<%= post._id %>"
                  method="post"
                  class="w-full flex items-center justify-between mt-2 py-2"
                >
                  <div
                    class="w-full flex items-center justify-between pb-2 border-b-2"
                  >
                    <input
                      id="add-comment"
                      type="text"
                      name="comment"
                      placeholder="write comment to <%= post.user.username %>"
                      class="w-full outline-none"
                    />
                    <button
                      id="comment-action-btn"
                      class="px-3 py-1 bg-blue-500 rounded-full hidden text-white"
                    >
                      post
                    </button>
                  </div>
                </form>
              </div>
              <% }) %>
            </div>
          </div>

          <!-- SUGGESTESD USERS -->

          <div class="w-2/5 hidden md:flex md:flex-col h-full pt-8 px-4 lg:px-12 xl:px-20">
            <div class="flex items-center gap-3">
              <div>
                <img
                  class="w-12 h-12 rounded-full"
                  src="<%= user.profilePic %>"
                />
              </div>
              <div>
                <h1 class="font-bold"><%= user.username %></h1>
                <h1 class="tracking-[4px] uppercase opacity-80">
                  <%= user.fullName %>
                </h1>
              </div>
            </div>
            <div class="mt-6 px-2">
              <h1 class="opacity-50 font-bold">Suggested for you</h1>
              <div>
                <% AllUsers.forEach((user) => { %>
                <div class="mt-3 flex items-center justify-between">
                  <div class="flex items-center gap-3">
                    <div>
                      <img
                        class="w-8 xl:w-12 h-8 xl:h-12 rounded-full"
                        src="<%= user.profilePic %>"
                      />
                    </div>
                    <div>
                      <h1 class="font-bold text-xs lg:text-sm xl:text-md"><%= user.username %></h1>
                      <h1 class="opacity-80 text-xs lg:text-sm">Suggested for you</h1>
                    </div>
                  </div>
                  <% if(currentUser.following.includes(user._id)){ %>
                  <a
                    class="px-3 py-1 bg-blue-500 rounded-full text-white cursor-pointer text-sm"
                    href="/follow/<%= user._id %>"
                    ><h2>following</h2></a
                  >
                  <% } else{ %>
                  <a
                    class="px-3 py-1 bg-blue-500 rounded-full text-white cursor-pointer text-sm"
                    href="/follow/<%= user._id %>"
                    ><h2>Follow</h2></a
                  >
                  <% } %>
                </div>
                <% }) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js"
      integrity="sha512-emSwuKiMyYedRwflbZB2ghzX8Cw8fmNVgZ6yQNNXXagFzFOaQmbvQ1vmDkddHjm5AITcBIZfC7k4ShQSjgPAmQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js"
      integrity="sha512-emSwuKiMyYedRwflbZB2ghzX8Cw8fmNVgZ6yQNNXXagFzFOaQmbvQ1vmDkddHjm5AITcBIZfC7k4ShQSjgPAmQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>

      // loader

      window.addEventListener("load", function () {
        document.getElementById("loader").style.display = "none";
      });

      // swiper js code for stories

      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 7,
        spaceBetween: 30,
        pagination: {
          el: ".swiper-pagination",
          type: "progressbar",
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });

      // CODE TO OPEN COMMENT INPUT FIELD

      document.querySelectorAll("#add-comment").forEach(function (openInput) {
        openInput.addEventListener("input", function (event) {
          const commentButton = event.target.parentElement.querySelector(
            "#comment-action-btn"
          );
          if (event.target.value.trim() !== "") {
            commentButton.style.display = "inline";
          } else {
            commentButton.style.display = "none";
          }
        });
      });

      // AXIOS CODE FOR LIKING POSTS

      async function like(event, postId) {
        var response = await axios.get(`/like/${postId}`);
        // console.log(response.data.status);
        if (response.data.status == "liked") {
          event.target.style.color = "red";
        } else {
          event.target.style.color = "black";
        }
      }
    </script>
  </body>
</html>
